.Pagination {
  margin: 50px auto;
  text-align: center;
}

.Pagination-button {
  text-align: center;
  border: none;
  border-radius: 16px;
  background-color: #0c6157;
  transition: background-color .2s;
  color: white;
  cursor: pointer;
  margin: 10px;
  width: 44px;
  height: 34px;
}

.Pagination-button:hover {
  background-color: #289487;
}

.Pagination-button:focus {
  outline: none;
}

.Pagination-button:disabled {
  background-color: #4f8881;
  cursor: not-allowed;
}

.Pagination-info {
  font-size: 14px;
  font-weight: bold;
}