.tableContainer {
  overflow-x: auto; /* Needed for table to be responsive */

}

.mainTable {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.tableHead {
  background-color: #003d33;
}

.tableHead tr th {
  padding: 20px 30px;
  color: #fff;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}

.tableBody {
  text-align: center;
  background-color: #0c6157;
}

.tableBody tr td {
  padding: 20px 30px;
  border-bottom: 2px solid #003d33;
  color: #fff;
  cursor: pointer;
}

.tableRanking {
  color: #fff;
  margin-right: 18px;
  font-size: 17px;
  font-weight: bold;
}

.tableDollarSign {
  color: #fff;
  margin-right: 6px;
  font-weight: bold;
}

.fado {
  font-size: 1.5rem;
  vertical-align: middle;
  padding-right: 5px;
}